        	.my-round10 { border-radius: 10px;}
					.js #fouc, #contact {display: none} 
        	.navbar-default {
					    background-color: rgba(255,255,255,0.95);
					    font-size:18px;
					    font-weight:700;
					    font-family:Raleway,'Nanum Gothic','Jua';
					    padding-top:7px;
					    letter-spacing:-0.5px ;
					}

					#navbar-menu>ul>li:hover>a {color:#fff; background-color:#55b9ff;}
					.carousel-caption { padding-bottom:20%;color:#6b4963}
			.features_item .f_item_icon i{
			    font-size:3rem;
			    color:#00a885;
			}
					hr { border:1px solid silver}
					#navbar-menu>ul>li>ul>li>a {display:block; padding:10px 15px; 
						transition:all 0.1s ease-out; border:1px solid #ddd; position:relative; border-top:0px;
					}
					#navbar-menu>ul>li>ul>li { font-size:14px; line-height:18px; font-weight:normal; block-size: auto;}

					#navbar-menu>ul>li:hover>ul { display : block ;}
					#navbar-menu>ul>li>ul {
					    background-color: white;
					    color: black;
					    font-family:Raleway,'Nanum Gothic','Jua';
					    padding-top:7px;
					    display: none;
					    position:absolute;
					    top:50px;
					    width:100%; 
					    min-width:200px;
					    box-sizing:content-box;
					    height:auto;
					    list-style-type: none;
					}
					#navbar-menu>ul>li>ul>li:hover>a {color:#fff; background-color:#55b9ff;}

				  #service hr,h1,h2,h3,h4 {color:#3b2c87;}

					#service ul { list-style:square inside  ; font-size:1.3rem; color:#3b2c87; line-height:3rem;}
					#service ul.style-none { 
						list-style:none inside  ; font-size:1.5rem; 
						color:#3b2c87;; word-spacing: 2px; line-height:3rem;
						}

					.text-i {
							word-spacing: 2px;
							letter-spacing: -0.6px;
					    background: url(../images/text_i.png) no-repeat left 7px;
					    padding-left: 2rem;
					}					
					/* table { font-weight : bold ; } */
					
					.vcenter {  vertical-align:middle; display: table-cell;}
					tr th , .my-middle {
					  display: table-cell;
					  text-align: center;
					  vertical-align:middle;
					  line-height:3rem;
					}
					
					#section1 {
						padding:5% 5% 0; 

					}
					img {  
						max-width: 100%;
  					height: auto;
					}
					#service th,
					#service td { font-size:1.3rem; }

  @media screen and (max-width: 810px) {
    #section1  {
        margin-left: 150px;
    }
    #myScroll { font-size:1rem; font-weight:normal }
  }
