    	.my-round10 { border-radius: 10px;}
			.#fouc { display:none}
    	.navbar-default {
			    background-color: rgba(255,255,255,0.95);
			    font-size:18px;
			    font-weight:700;
			    padding-top:7px;
			    letter-spacing:-0.5px ;
			}
.dropdown-menu {
	font-family: "맑은 고딕";
}
			#navbar-menu>ul>li:hover>a {color:#fff; background-color:#55b9ff;}
			.carousel-caption { padding-bottom:20%;color:#6b4963}
	.features_item .f_item_icon i{
	    font-size:3rem;
	    color:#00a885;
	}
					hr { border:1px solid silver}
					#navbar-menu>ul>li>ul>li>a {display:block; padding:10px 15px;
						transition:all 0.1s ease-out; border:1px solid #ddd; position:relative; border-top:0px;
					}
					#navbar-menu>ul>li>ul>li { font-size:14px; line-height:18px; font-weight:normal; block-size: auto;}

					#navbar-menu>ul>li>ul {
					    background-color: white;
					    color: black;
					    padding-top:7px;
					    display: none;
					    position:absolute;
					    top:50px;
					    width:100%;
					    min-width:200px;
					    box-sizing:content-box;
					    height:auto;
					    list-style-type: none;
					}
					#navbar-menu>ul>li>ul>li:hover>a {color:#fff; background-color:#55b9ff;}

				  #service hr,h1,h2,h3,h4,h5,h6 {color:#3b2c87; letter-spacing: -0.8px;}

					#service ul.style-none {
						list-style:none inside  ; font-size:1.5rem;
						color:#3b2c87;; word-spacing: 2px; line-height:3rem;
						text-indent: -1.5em;
    				padding-left: 4em;
						}
          #prodList>ul>li {
						/* list-style:none inside  ;  */
            float: left;
            font-size:1.2rem;
						color:#3b2cE7;; word-spacing: 4px; line-height:2rem;
						text-indent: -1em;
    				padding-left: 2em;
						}

					.text-i {
							word-spacing: 2px;
							letter-spacing: -0.6px;
					    background: url(../images/text_i.png) no-repeat left 7px;
					    padding-left: 2rem;
					}
					/* table { font-weight : bold ; } */

					.vcenter {  vertical-align:middle; display: table-cell;}
					tr th , .my-middle {
					  display: table-cell;
					  text-align: center;
					  vertical-align:middle;
					  line-height:3rem;
					}

					img {
						max-width: 100%;
  					height: auto;
					}
					#service th,
					#service td { font-size:1.5rem; }
					#service ul,
					#prod td
					 { list-style:square inside  ; font-size:1.2rem; color:#3b2c87;
						line-height:3rem;
						text-indent: -1.3em;
    				padding-left: 1.3em;
    				}
					#prod td {line-height:2rem;}
.features_item .f_item_icon{
/*    float: left;*/
/*    width:10%; */
    display: inline-block;
    margin-left: 2em;
    margin-right: 1rem;
}
.features_item .f_item_icon i{
    font-size:4rem;
    color: #009553;
}
.features_item .f_item_text {
    display: inline-block;
}
.features_item .f_item_text * {
    color: #009553;
/*    color:#00a885;*/
}
.features_item .f_item_text p{
    font-size:14px;
}

.widget_ab_item  {
		font-size:1em;
		color:inherit;
}

.widget_ab_item .item_icon{
    float: left;
    width: 3em;
    font-size:1.2em;
    display: inline-block;
    margin-right: 0px;
    color:#ffe200;
}

.fa {margin-right: .7em;}

td { vertical-align:middle;}

small { font-family: 'Gothic A1', sans-serif;}

.my-block
 {background-color: #f5fbd2 ; border-left: 8px solid #c9cbf1; padding:.7em 1em;}

@media  (max-width: 767px) {
	.carousel-caption { font-size:2rem ; color:#3b2c87; padding-bottom:50%;
	}
	h1 { font-size:2.5rem }
	h2 { font-size:1.5rem }
	h3 { font-size:1.3rem }
	h4 { font-size:1.1rem }
	h5 { font-size:1rem }
	h6 { font-size:0.9rem }

	.widget_ab_item  {
			font-size:.8em;
	}
	#navbar-menu>ul>li {border:1px solid #ddd;}

}

@media  (min-width: 768px) {
	.carousel-caption { font-size:4rem ; color:#3b2c87;
	}

	#navbar-menu>ul>li:hover>ul { display : block ;}
}
